<form name="{{ form.vars.full_name }}" method="{{ form.vars.method }}" action="{{ form.vars.action }}" class="form-horizontal col-lg-7">
    <input type="hidden" value="{{ form._token.vars.value }}" name="{{ form._token.vars.full_name }}">
    <div class="form-group{% if form.tagName.vars.errors|length %} has-error{% endif %}">
        <label class="col-sm-2 control-label">Add Tag</label>
        <div class="col-sm-10">
            <input value="{{ form.tagName.vars.value }}" name="{{ form.tagName.vars.full_name }}" type="text" class="form-control col-sm-8" style="width: 80%;">
            <button class="btn btn-primary col-sm-2" type="submit" style="margin-left: 5px;">Add</button>
            {% for error in form.tagName.vars.errors %}
                <p class="col-sm-12 text-danger" style="padding-left: 0; margin-top: 5px;">{{ error.message }}</p>
            {% endfor %}
        </div>
    </div>
</form>