
<form class="form-horizontal" name="{{ form.vars.full_name }}" method="{{ form.vars.method }}" action="{{ form.vars.action }}">

    <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">

    <div class="form-group">
        <div class="col-md-12">
            <div>
                <div class="col-lg-5">
                    <p>Change Avatar</p>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-default btn-file">
                                <span class="fileinput-new" data-dismiss="fileinput">Select file</span>
                            <span class="fileinput-exists">Change</span>
                                <input type="file" name="..." onchange="readURL(this);"/>
                            </span>
                        <span class="fileinput-filename"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group{% if form.user.name.vars.errors|length %} has-error{% endif %}">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" name="{{ form.user.name.vars.full_name }}" value="{{ form.user.name.vars.value }}" class="form-control">
            {% for error in form.user.name.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        </div>

    </div>

    <div class="form-group{% if form.user.surname.vars.errors|length %} has-error{% endif %}">
        <label class="col-sm-2 control-label">
            Surname
        </label>
        <div class="col-sm-10">
            <input type="text" name="{{ form.user.surname.vars.full_name }}" value="{{ form.user.surname.vars.value }}" class="form-control">
            {% for error in form.user.surname.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.user.username.vars.errors|length %} has-error{% endif %}">
        <label class="col-sm-2 control-label">
            Nick Name
        </label>
        <div class="col-sm-10">
            <input name="{{ form.user.username.vars.full_name }}" value="{{ form.user.username.vars.value }}" type="text" class="form-control">
            {% for error in form.user.username.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.userInformation.tagWhatUserDo.vars.errors|length %} has-error{% endif %}">
        <label class="col-sm-2 control-label">
            What I Do?
        </label>
        <div class="col-sm-10">
            <input name="{{ form.userInformation.tagWhatUserDo.vars.full_name }}" value="{{ form.userInformation.tagWhatUserDo.vars.value }}" type="text" class="form-control">
            {% for error in form.userInformation.tagWhatUserDo.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        </div>
    </div>

    {#{{ dump(form) }}#}

    {% if form.user.tags.vars.choices is not empty %}
        <div class="form-group{% if form.user.tags.vars.errors|length %} has-error{% endif %}">
        <label class="col-sm-2 control-label">
            Tags
        </label>
        <div class="col-sm-6">
            <select name="{{ form.user.tags.vars.full_name }}" data-placeholder="Choose what you do..." class="chosen-select" multiple="" style="width: 350px; display: none;" tabindex="-1">
                {% for tag in form.user.tags.vars.choices %}
                    <option{% if tag.value in form.user.tags.vars.value %} selected{% endif %} value="{{ tag.value }}">{{ tag.label }}</option>
                {% endfor %}
            </select>
            {% for error in form.user.tags.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="form-group{% if form.userInformation.userDescription.vars.errors|length %} has-error{% endif %}">
        <label class="col-sm-2 control-label">
            User Description
        </label>
        <div class="col-sm-10">
            <textarea name="{{ form.userInformation.userDescription.vars.full_name }}" style="resize: vertical;" rows="10" class="form-control">{{ form.userInformation.userDescription.vars.value|raw }}</textarea>
        </div>
    </div>

    <div class="col-md-12" style="    text-align: end;">
        <button class="btn btn-info btn-circle btn-lg" type="submit"><i class="fa fa-check"></i>
        </button>
        <a href="{{ url('job_admin_security_my_profile') }}" class="btn btn-warning btn-circle btn-lg"><i class="fa fa-times"></i>
        </a>
    </div>

</form>