
<form class="m-t" role="form" action="{{ path('job_admin_login') }}" method="{{ form.vars.method }}">
    {% if error is not empty %}
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ error.message }}
        </div>
    {% endif %}
    <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
    <div class="form-group">
        <input type="text" class="form-control" name="{{ form.email.vars.full_name }}" value="{{ lastName }}" placeholder="{{ form.email.vars.label }}">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="{{ form.password.vars.full_name }}" value="" placeholder="{{ form.password.vars.label }}">
    </div>
    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

    <a href="#"><small>Forgot password?</small></a>
</form>