<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>DOjob</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/inspinia-3/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Animation CSS -->
    <link href="{{ asset('assets/inspinia-3/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/inspinia-3/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/inspinia-3/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/inspinia-3/css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">

    <link href="{{ asset('assets/custom/css/style.css') }}" rel="stylesheet">

    {% block styles %}{% endblock %}

</head>
<body class="gray-bg">

    {% block container %}{% endblock %}

    <script src="{{ asset('assets/inspinia-3/js/main-page/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/main-page/pace.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/main-page/pace.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/main-page/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/main-page/classie.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/main-page/cbpAnimatedHeader.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/main-page/wow.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/main-page/inspinia.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/toastr/toastr.min.js') }}"></script>
    {{ alert.jsOptions() }}
    {{ alert.message() }}
    {% block javascripts %}{% endblock %}
</body>
</html>
