<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>DOjob</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/inspinia-3/css/main-page/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/inspinia-3/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{ asset('assets/inspinia-3/css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">



    <link href="{{ asset('assets/inspinia-3/js/plugins/gritter/jquery.gritter.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/inspinia-3/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/inspinia-3/css/plugins/chosen/bootstrap-chosen.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/inspinia-3/css/plugins/jasny/jasny-bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/inspinia-3/css/style.css') }}" rel="stylesheet">



    <link href="{{ asset('assets/custom/css/style.css') }}" rel="stylesheet">
    {% block styles %}{% endblock %}

</head>
<body>

    <div id="wrapper">

        {{ include('@view.job_admin/components/left_navigation_bar_main.html.twig') }}

        <div id="page-wrapper" class="gray-bg dashbard-1">

            {{ include('@view.job_admin/components/nav_header_component.html.twig') }}

            {% block container %}{% endblock %}

        </div>
        {#<div class="small-chat-box fadeInRight animated">#}

            {#<div class="heading" draggable="true">#}
                {#<small class="chat-date pull-right">#}
                    {#02.19.2015#}
                {#</small>#}
                {#Small chat#}
            {#</div>#}

            {#<div class="content">#}

                {#<div class="left">#}
                    {#<div class="author-name">#}
                        {#Monica Jackson#}
                        {#<small class="chat-date">#}
                            {#10:02 am#}
                        {#</small>#}
                    {#</div>#}
                    {#<div class="chat-message active">#}
                        {#Lorem Ipsum is simply dummy text input.#}
                    {#</div>#}

                {#</div>#}
                {#<div class="right">#}
                    {#<div class="author-name">#}
                        {#Mick Smith#}
                        {#<small class="chat-date">#}
                            {#11:24 am#}
                        {#</small>#}
                    {#</div>#}
                    {#<div class="chat-message">#}
                        {#Lorem Ipsum is simpl.#}
                    {#</div>#}
                {#</div>#}
                {#<div class="left">#}
                    {#<div class="author-name">#}
                        {#Alice Novak#}
                        {#<small class="chat-date">#}
                            {#08:45 pm#}
                        {#</small>#}
                    {#</div>#}
                    {#<div class="chat-message active">#}
                        {#Check this stock char.#}
                    {#</div>#}
                {#</div>#}
                {#<div class="right">#}
                    {#<div class="author-name">#}
                        {#Anna Lamson#}
                        {#<small class="chat-date">#}
                            {#11:24 am#}
                        {#</small>#}
                    {#</div>#}
                    {#<div class="chat-message">#}
                        {#The standard chunk of Lorem Ipsum#}
                    {#</div>#}
                {#</div>#}
                {#<div class="left">#}
                    {#<div class="author-name">#}
                        {#Mick Lane#}
                        {#<small class="chat-date">#}
                            {#08:45 pm#}
                        {#</small>#}
                    {#</div>#}
                    {#<div class="chat-message active">#}
                        {#I belive that. Lorem Ipsum is simply dummy text.#}
                    {#</div>#}
                {#</div>#}


            {#</div>#}
            {#<div class="form-chat">#}
                {#<div class="input-group input-group-sm">#}
                    {#<input type="text" class="form-control">#}
                    {#<span class="input-group-btn"> <button#}
                                {#class="btn btn-primary" type="button">Send#}
                {#</button> </span></div>#}
            {#</div>#}

        {#</div>#}
        {#<div id="small-chat">#}

            {#<span class="badge badge-warning pull-right">5</span>#}
            {#<a class="open-small-chat">#}
                {#<i class="fa fa-comments"></i>#}

            {#</a>#}
        {#</div>#}
        {#<div id="right-sidebar" class="animated">#}
            {#<div class="sidebar-container">#}

                {#<ul class="nav nav-tabs navs-3">#}

                    {#<li class="active"><a data-toggle="tab" href="#tab-1">#}
                            {#Notes#}
                        {#</a></li>#}
                    {#<li><a data-toggle="tab" href="#tab-2">#}
                            {#Projects#}
                        {#</a></li>#}
                    {#<li class=""><a data-toggle="tab" href="#tab-3">#}
                            {#<i class="fa fa-gear"></i>#}
                        {#</a></li>#}
                {#</ul>#}

                {#<div class="tab-content">#}


                    {#<div id="tab-1" class="tab-pane active">#}

                        {#<div class="sidebar-title">#}
                            {#<h3><i class="fa fa-comments-o"></i> Latest Notes</h3>#}
                            {#<small><i class="fa fa-tim"></i> You have 10 new message.</small>#}
                        {#</div>#}

                        {#<div>#}

                            {#<div class="sidebar-message">#}
                                {#<a href="#">#}
                                    {#<div class="pull-left text-center">#}
                                        {#<img alt="image" class="img-circle message-avatar" src="img/a1.jpg">#}

                                        {#<div class="m-t-xs">#}
                                            {#<i class="fa fa-star text-warning"></i>#}
                                            {#<i class="fa fa-star text-warning"></i>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="media-body">#}

                                        {#There are many variations of passages of Lorem Ipsum available.#}
                                        {#<br>#}
                                        {#<small class="text-muted">Today 4:21 pm</small>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                            {#<div class="sidebar-message">#}
                                {#<a href="#">#}
                                    {#<div class="pull-left text-center">#}
                                        {#<img alt="image" class="img-circle message-avatar" src="img/a2.jpg">#}
                                    {#</div>#}
                                    {#<div class="media-body">#}
                                        {#The point of using Lorem Ipsum is that it has a more-or-less normal.#}
                                        {#<br>#}
                                        {#<small class="text-muted">Yesterday 2:45 pm</small>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                            {#<div class="sidebar-message">#}
                                {#<a href="#">#}
                                    {#<div class="pull-left text-center">#}
                                        {#<img alt="image" class="img-circle message-avatar" src="img/a3.jpg">#}

                                        {#<div class="m-t-xs">#}
                                            {#<i class="fa fa-star text-warning"></i>#}
                                            {#<i class="fa fa-star text-warning"></i>#}
                                            {#<i class="fa fa-star text-warning"></i>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="media-body">#}
                                        {#Mevolved over the years, sometimes by accident, sometimes on purpose (injected#}
                                        {#humour and the like).#}
                                        {#<br>#}
                                        {#<small class="text-muted">Yesterday 1:10 pm</small>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                            {#<div class="sidebar-message">#}
                                {#<a href="#">#}
                                    {#<div class="pull-left text-center">#}
                                        {#<img alt="image" class="img-circle message-avatar" src="img/a4.jpg">#}
                                    {#</div>#}

                                    {#<div class="media-body">#}
                                        {#Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the#}
                                        {#<br>#}
                                        {#<small class="text-muted">Monday 8:37 pm</small>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                            {#<div class="sidebar-message">#}
                                {#<a href="#">#}
                                    {#<div class="pull-left text-center">#}
                                        {#<img alt="image" class="img-circle message-avatar" src="img/a8.jpg">#}
                                    {#</div>#}
                                    {#<div class="media-body">#}

                                        {#All the Lorem Ipsum generators on the Internet tend to repeat.#}
                                        {#<br>#}
                                        {#<small class="text-muted">Today 4:21 pm</small>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                            {#<div class="sidebar-message">#}
                                {#<a href="#">#}
                                    {#<div class="pull-left text-center">#}
                                        {#<img alt="image" class="img-circle message-avatar" src="img/a7.jpg">#}
                                    {#</div>#}
                                    {#<div class="media-body">#}
                                        {#Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes#}
                                        {#from a line in section 1.10.32.#}
                                        {#<br>#}
                                        {#<small class="text-muted">Yesterday 2:45 pm</small>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                            {#<div class="sidebar-message">#}
                                {#<a href="#">#}
                                    {#<div class="pull-left text-center">#}
                                        {#<img alt="image" class="img-circle message-avatar" src="img/a3.jpg">#}

                                        {#<div class="m-t-xs">#}
                                            {#<i class="fa fa-star text-warning"></i>#}
                                            {#<i class="fa fa-star text-warning"></i>#}
                                            {#<i class="fa fa-star text-warning"></i>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="media-body">#}
                                        {#The standard chunk of Lorem Ipsum used since the 1500s is reproduced below.#}
                                        {#<br>#}
                                        {#<small class="text-muted">Yesterday 1:10 pm</small>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                            {#<div class="sidebar-message">#}
                                {#<a href="#">#}
                                    {#<div class="pull-left text-center">#}
                                        {#<img alt="image" class="img-circle message-avatar" src="img/a4.jpg">#}
                                    {#</div>#}
                                    {#<div class="media-body">#}
                                        {#Uncover many web sites still in their infancy. Various versions have.#}
                                        {#<br>#}
                                        {#<small class="text-muted">Monday 8:37 pm</small>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>#}
                        {#</div>#}

                    {#</div>#}

                    {#<div id="tab-2" class="tab-pane">#}

                        {#<div class="sidebar-title">#}
                            {#<h3><i class="fa fa-cube"></i> Latest projects</h3>#}
                            {#<small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>#}
                        {#</div>#}

                        {#<ul class="sidebar-list">#}
                            {#<li>#}
                                {#<a href="#">#}
                                    {#<div class="small pull-right m-t-xs">9 hours ago</div>#}
                                    {#<h4>Business valuation</h4>#}
                                    {#It is a long established fact that a reader will be distracted.#}

                                    {#<div class="small">Completion with: 22%</div>#}
                                    {#<div class="progress progress-mini">#}
                                        {#<div style="width: 22%;" class="progress-bar progress-bar-warning"></div>#}
                                    {#</div>#}
                                    {#<div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">#}
                                    {#<div class="small pull-right m-t-xs">9 hours ago</div>#}
                                    {#<h4>Contract with Company </h4>#}
                                    {#Many desktop publishing packages and web page editors.#}

                                    {#<div class="small">Completion with: 48%</div>#}
                                    {#<div class="progress progress-mini">#}
                                        {#<div style="width: 48%;" class="progress-bar"></div>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">#}
                                    {#<div class="small pull-right m-t-xs">9 hours ago</div>#}
                                    {#<h4>Meeting</h4>#}
                                    {#By the readable content of a page when looking at its layout.#}

                                    {#<div class="small">Completion with: 14%</div>#}
                                    {#<div class="progress progress-mini">#}
                                        {#<div style="width: 14%;" class="progress-bar progress-bar-info"></div>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">#}
                                    {#<span class="label label-primary pull-right">NEW</span>#}
                                    {#<h4>The generated</h4>#}
                                    {#There are many variations of passages of Lorem Ipsum available.#}
                                    {#<div class="small">Completion with: 22%</div>#}
                                    {#<div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">#}
                                    {#<div class="small pull-right m-t-xs">9 hours ago</div>#}
                                    {#<h4>Business valuation</h4>#}
                                    {#It is a long established fact that a reader will be distracted.#}

                                    {#<div class="small">Completion with: 22%</div>#}
                                    {#<div class="progress progress-mini">#}
                                        {#<div style="width: 22%;" class="progress-bar progress-bar-warning"></div>#}
                                    {#</div>#}
                                    {#<div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">#}
                                    {#<div class="small pull-right m-t-xs">9 hours ago</div>#}
                                    {#<h4>Contract with Company </h4>#}
                                    {#Many desktop publishing packages and web page editors.#}

                                    {#<div class="small">Completion with: 48%</div>#}
                                    {#<div class="progress progress-mini">#}
                                        {#<div style="width: 48%;" class="progress-bar"></div>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">#}
                                    {#<div class="small pull-right m-t-xs">9 hours ago</div>#}
                                    {#<h4>Meeting</h4>#}
                                    {#By the readable content of a page when looking at its layout.#}

                                    {#<div class="small">Completion with: 14%</div>#}
                                    {#<div class="progress progress-mini">#}
                                        {#<div style="width: 14%;" class="progress-bar progress-bar-info"></div>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">#}
                                    {#<span class="label label-primary pull-right">NEW</span>#}
                                    {#<h4>The generated</h4>#}
                                    {#<!--<div class="small pull-right m-t-xs">9 hours ago</div>-->#}
                                    {#There are many variations of passages of Lorem Ipsum available.#}
                                    {#<div class="small">Completion with: 22%</div>#}
                                    {#<div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>#}
                                {#</a>#}
                            {#</li>#}

                        {#</ul>#}

                    {#</div>#}

                    {#<div id="tab-3" class="tab-pane">#}

                        {#<div class="sidebar-title">#}
                            {#<h3><i class="fa fa-gears"></i> Settings</h3>#}
                            {#<small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>#}
                        {#</div>#}

                        {#<div class="setings-item">#}
                    {#<span>#}
                        {#Show notifications#}
                    {#</span>#}
                            {#<div class="switch">#}
                                {#<div class="onoffswitch">#}
                                    {#<input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">#}
                                    {#<label class="onoffswitch-label" for="example">#}
                                        {#<span class="onoffswitch-inner"></span>#}
                                        {#<span class="onoffswitch-switch"></span>#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="setings-item">#}
                    {#<span>#}
                        {#Disable Chat#}
                    {#</span>#}
                            {#<div class="switch">#}
                                {#<div class="onoffswitch">#}
                                    {#<input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox" id="example2">#}
                                    {#<label class="onoffswitch-label" for="example2">#}
                                        {#<span class="onoffswitch-inner"></span>#}
                                        {#<span class="onoffswitch-switch"></span>#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="setings-item">#}
                    {#<span>#}
                        {#Enable history#}
                    {#</span>#}
                            {#<div class="switch">#}
                                {#<div class="onoffswitch">#}
                                    {#<input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example3">#}
                                    {#<label class="onoffswitch-label" for="example3">#}
                                        {#<span class="onoffswitch-inner"></span>#}
                                        {#<span class="onoffswitch-switch"></span>#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="setings-item">#}
                    {#<span>#}
                        {#Show charts#}
                    {#</span>#}
                            {#<div class="switch">#}
                                {#<div class="onoffswitch">#}
                                    {#<input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example4">#}
                                    {#<label class="onoffswitch-label" for="example4">#}
                                        {#<span class="onoffswitch-inner"></span>#}
                                        {#<span class="onoffswitch-switch"></span>#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="setings-item">#}
                    {#<span>#}
                        {#Offline users#}
                    {#</span>#}
                            {#<div class="switch">#}
                                {#<div class="onoffswitch">#}
                                    {#<input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example5">#}
                                    {#<label class="onoffswitch-label" for="example5">#}
                                        {#<span class="onoffswitch-inner"></span>#}
                                        {#<span class="onoffswitch-switch"></span>#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="setings-item">#}
                    {#<span>#}
                        {#Global search#}
                    {#</span>#}
                            {#<div class="switch">#}
                                {#<div class="onoffswitch">#}
                                    {#<input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example6">#}
                                    {#<label class="onoffswitch-label" for="example6">#}
                                        {#<span class="onoffswitch-inner"></span>#}
                                        {#<span class="onoffswitch-switch"></span>#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="setings-item">#}
                    {#<span>#}
                        {#Update everyday#}
                    {#</span>#}
                            {#<div class="switch">#}
                                {#<div class="onoffswitch">#}
                                    {#<input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example7">#}
                                    {#<label class="onoffswitch-label" for="example7">#}
                                        {#<span class="onoffswitch-inner"></span>#}
                                        {#<span class="onoffswitch-switch"></span>#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="sidebar-content">#}
                            {#<h4>Settings</h4>#}
                            {#<div class="small">#}
                                {#I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.#}
                                {#And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since#}
                                {#the 1500s.#}
                                {#Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).#}
                            {#</div>#}
                        {#</div>#}

                    {#</div>#}
                {#</div>#}

            {#</div>#}


        {#</div>#}

    </div>

    <script src="{{ asset('assets/inspinia-3/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/flot/jquery.flot.spline.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/peity/jquery.peity.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/demo/peity-demo.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/inspinia.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/gritter/jquery.gritter.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/demo/sparkline-demo.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/chartJs/Chart.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/chosen/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/inspinia-3/js/plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('assets/custom/script.js') }}"></script>

    {{ alert.jsOptions() }}
    {{ alert.message() }}
    {% block javascripts %}{% endblock %}
</body>
</html>
