{% extends '@view.job_admin/layouts/login_layout.html.twig' %}

{% block container %}

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name" style="color: #777;">DO<small style="color: #1ab394;">j</small></h1>

            </div>
            <h3>Welcome to DOjob</h3>
            <p>Login in form.</p>

            {{ include("@view.job_admin/forms/login_form.html.twig", {'form':formLogin, 'error':error, 'lastName':lastUserName}) }}

            <p class="m-t"> <small>https://gitlab.com/kirill2012weapons &copy; 2019</small> </p>
        </div>
    </div>

{% endblock %}
