{% extends '@view.job_admin/layouts/main_layout.html.twig' %}

{% block container %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Profile</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url('job_admin_homepage') }}">Home</a>
                </li>
                <li class="active">
                    <strong>Profile</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="col-md-10">

            <div class="profile-image">
                <img src="{{ asset('assets/custom/img/nobody_m.original.jpg') }}" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{ app.user.name ~ ' ' ~ app.user.surname }}
                            <strong>( {{ app.user.username }} )</strong>
                        </h2>
                        <h4>{% if app.user.userInformation is not empty %}{{ app.user.userInformation.tagWhatUserDo }}{% endif %}</h4>
                        <small>
                            {% if app.user.userInformation is not empty %}{{ app.user.userInformation.userDescription|nl2br }}{% endif %}
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <a href="{{ url('job_admin_security_my_profile_change') }}" class="btn btn-w-m btn-info">Change Information</a>
        </div>

    </div>


{% endblock %}