<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            {{ include('@view.job_admin/components/user_view_coponent.html.twig') }}

            {% if is_granted('ROLE_COMPANY_DIRECTOR') %}

                <li class="">
                    <a href="#"><i class="fa fa-tags"></i>
                        <span class="nav-label">Tags</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="height: 0px;">
                        <li><a href="{{ url('job_admin_tags_what_user_do_show') }}">What user do</a></li>
                    </ul>
                </li>

            {% endif %}

        </ul>

    </div>
</nav>