<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="w-25 h-25 icon img-circle" src="{{ asset('assets/custom/img/nobody_m.original.jpg') }}"/>
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ app.user.name ~ ' ' ~ app.user.surname }}</strong>
            </span> <span class="text-muted text-xs block">{{ app.user.username }} <b class="caret"></b></span> </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="{{ url('job_admin_security_my_profile') }}">Profile</a></li>
            {#<li><a href="#">Contacts</a></li>#}
            {#<li><a href="#">Mailbox</a></li>#}
            <li class="divider"></li>
            <li><a href="{{ url('job_admin_logout') }}">Logout</a></li>
        </ul>
    </div>
    <div class="logo-element">
        DOj
    </div>
</li>