{% extends '@view.job/layouts/main_layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('assets/inspinia-3/css/style.css') }}" rel="stylesheet">

{% endblock %}

{% block container %}

    <div class="container" id="wrapper">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="">
                <h2>Register</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ url('job_homepage') }}">DOjob</a>
                    </li>
                    <li class="active">
                        <strong>Register Company</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Register Your Company Now!</h5>
                </div>
                <div class="ibox-content">

                    {{ include ('@view.job/forms/form_register_new_company.html.twig', { 'form': newCompanyForm})  }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
