
{% extends '@view.job/layouts/main_layout.html.twig' %}

{% block container %}

    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url('job_homepage') }}">DOjob</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="{{ url('job_register') }}">Register Copany</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#inSlider" data-slide-to="0" class="active"></li>
            <li data-target="#inSlider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>DOjobs</h1>
                        <p>
                            <a class="btn btn-lg btn-primary" href="{{ url('job_register') }}" role="button">Register</a>
                            <a class="caption-link" href="#" role="button">Admin Page</a>
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                        <img src="{{ asset('assets/inspinia-3/img/landing/laptop.png') }}" alt="laptop"/>
                    </div>
                </div>
                <div class="header-back one" style="background: url({{ asset('assets/inspinia-3/img/landing/header_one.jpg') }}) 50% 0 no-repeat;"></div>

            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption blank">
                        <h1>DOjob<br/>Create your admin page.</h1>
                        <p><a class="btn btn-lg btn-primary" href="{{ url('job_register') }}" role="button">Register</a></p>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back two" style="background: url({{ asset('assets/inspinia-3/img/landing/header_two.jpg') }}) 50% 0 no-repeat;"></div>
            </div>
        </div>
        <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn animated" style="visibility: visible; animation-name: zoomIn;">
                    <i class="fa fa-comment big-icon"></i>
                    <h1>
                        Register Company NOW!
                    </h1>
                    <small>
                        <strong>{{ "now"|date("m/d/Y") }} - New Date For New Start</strong>
                    </small>
                </div>
            </div>
        </div>

    </section>

    <section class="comments gray-section" style="margin-top: 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Developers</h1>
                    <p>Eboshil sho huyaril</p>
                </div>
            </div>
            <div class="row features-block center-orientation">

                <div class="col-lg-4">
                    <div class="bubble">
                        Делаю эту хуйнюю потом напишу шо сделал, надеюсь что то получиться.
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="{{ asset('assets/inspinia-3/img/landing/face.png') }}">
                        </a>
                        <div class="media-body">
                            <div class="commens-name">
                                Kirill Ivanov
                            </div>
                            <small class="text-muted">AloonerRooms</small>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Register Company</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="{{ url('job_register') }}" class="btn btn-primary">Register Company</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; Alooner Room Dev</strong><br/> https://gitlab.com/kirill2012weapons</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
