<form class="form-horizontal" name="{{ form.vars.full_name }}" method="{{ form.vars.method }}" action="{{ form.vars.action }}">

    <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">

    <div class="form-group{% if form.user.name.vars.errors|length %} has-error{% endif %}">
        <label class="col-lg-2 control-label">
            {{ form.user.name.vars.label }}
        </label>
        <div class="col-md-4">
            <input type="text" value="{{ form.user.name.vars.value }}" name="{{ form.user.name.vars.full_name }}" class="form-control">
            {% for error in form.user.name.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="form-group{% if form.user.surname.vars.errors|length %} has-error{% endif %}">
        <label class="col-lg-2 control-label">
            {{ form.user.surname.vars.label }}
        </label>
        <div class="col-md-4">
            <input type="text" name="{{ form.user.surname.vars.full_name }}" value="{{ form.user.surname.vars.value }}" class="form-control">
            {% for error in form.user.surname.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.user.username.vars.errors|length %} has-error{% endif %}">
        <label class="col-lg-2 control-label">
            {{ form.user.username.vars.label }}
        </label>
        <div class="col-md-2">
            <input type="text" name="{{ form.user.username.vars.full_name }}" value="{{ form.user.username.vars.value }}" class="form-control">
            {% for error in form.user.username.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">

        </label>
        <div class="col-md-4">
            <div class="well m-t"><strong>Comments</strong>
                Name and Surname of the director.
            </div>
        </div>
    </div>

    <div class="form-group{% if form.company.companyName.vars.errors|length %} has-error{% endif %}">
        <label class="col-lg-2 control-label">
            {{ form.company.companyName.vars.label }}
        </label>
        <div class="col-md-4">
            <input type="text" name="{{ form.company.companyName.vars.full_name }}" value="{{ form.company.companyName.vars.value }}" class="form-control">
            {% for error in form.company.companyName.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
            <span class="help-block m-b-none text-info">
                                    Name Of the company (SLUG). Can contain latin letter and numbers with '-', '_', ' '.
                                </span>
        </div>
    </div>
    <div class="form-group{% if form.user.email.vars.errors|length %} has-error{% endif %}">
        <label class="col-lg-2 control-label">
            {{ form.user.email.vars.label }}
        </label>
        <div class="col-md-4">
            <input type="email" name="{{ form.user.email.vars.full_name }}" value="{{ form.user.email.vars.value }}" placeholder="Email" class="form-control">
            {% for error in form.user.email.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
            <span class="help-block m-b-none">Enter yours director email.</span>
        </div>
    </div>
    <div class="form-group{% if form.user.password.first.vars.errors|length %} has-error{% endif %}">
        <label class="col-lg-2 control-label">
            {{ form.user.password.first.vars.label }}
        </label>
        <div class="col-md-4">
            <input type="password" name="{{ form.user.password.first.vars.full_name }}" value="{{ form.user.password.first.vars.value }}" placeholder="Password" class="form-control">
        </div>
    </div>
    <div class="form-group{% if form.user.password.first.vars.errors|length %} has-error{% endif %}">
        <label class="col-lg-2 control-label">
            {{ form.user.password.second.vars.label }}
        </label>
        <div class="col-md-4">
            <input type="password" name="{{ form.user.password.second.vars.full_name }}" value="{{ form.user.password.second.vars.value }}" placeholder="Password Repeat" class="form-control">
            {% for error in form.user.password.first.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
            {% for error in form.user.password.second.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">

        </label>
        <div class="col-md-4">
            <button class="btn btn-primary " type="submit"><i class="fa fa-check"></i>&nbsp;Register</button>
        </div>
    </div>


</form>