{% extends '@view.job_admin/layouts/main_layout.html.twig' %}

{% block container %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Tags</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url('job_admin_homepage') }}">Home</a>
                </li>
                <li class="active">
                    <strong>What User Do</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="col-lg-12">
            {% for tag in tagList %}
                <div class="alert alert-warning h-25 d-inline-block" style="display: inline-block;">
                    {{ tag.tagName }}
                    <a href="{{ url('job_admin_tags_what_user_do_modify', {'id':tag.id}) }}" class="btn btn-primary btn-circle" type="button" style="margin-left: 8px;"><i class="fa fa-list"></i>
                    </a>
                    <a href="{{ url('job_admin_tags_what_user_do_remove', {'id':tag.id}) }}" class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="ibox-content col-lg-12">
            {{ include('@view.job_admin/forms/add_tags.html.twig', {'form':formAddTag}) }}
        </div>

    </div>

{% endblock %}